ion-header {
    ion-toolbar {
        padding-top: 10px;
        height: 60px;
        --background: white;
        font-size: 17px;
        font-weight: 500;
        --border-color: blue;

        ion-icon {
            padding: 10px;
        }
    }
}
ion-content {
    --ion-background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
ion-card {
    background: transparent;
    box-shadow: none;
    text-align: center;
    ion-card-content {
        ion-item {
            --ion-item-background: transparent;
            --border-width: 0;
            --inner-border-width: 0;
            --highlight-color-focused: none;
              margin-bottom: 15px;
            ion-input , ion-select {
                width: 257px;
                height: 42px;
                border-radius: 15px;
                border: 1.5px solid #251029;
                font-size: 14px;
                font-weight: 300;
                color: #251029;
                --padding-start: 30px;
            }

        }

        a {
            text-decoration: none;
            color: #251029;
            font-weight: 300;
            font-size: 13px;
        }
    }

    .bottom-section {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-button {
            height: 45px;
            width: 147px;
            font-size: 12px;
            text-transform: none;
            --background: #251029;
            font-weight: 400;
            --border-radius: 15px !important;
            color: #fff;
        }

        span {
            margin-top: 10px;
            font-weight: 330;

            a {
                font-weight: 400;
            }
        }
    }
}

::ng-deep ion-content {
    --keyboard-offset: 0px !important
}
ion-datetime {
    height: auto;
    width: auto;
    max-width: 350px;
  }
  
  ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
  }
  
  ion-modal ion-datetime {
    height: 382px;
  }
  
  .time-slot {
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .active {
    background-color: #241029;
    color:white;
  }