<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" aria-hidden="true" slot="start" (click)="routing.goBack()"></ion-icon>
    <ion-title>Personal Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-input placeholder="Please enter first name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter last name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter father’s name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter date of brith"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter blood group"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter delivery license ID"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Please enter National ID"></ion-input>
        </ion-item>
      </form>
      <div class="bottom-section">
        <ion-button type="submit">Register</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>