@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.container {
    background-color: #ffffff;
    width: 80%;
    height: 40%;
    margin: 43% 10% 0 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;

    img {
        margin-bottom: 20px;
        width: 50px;
    }

    h3 {
        font-weight: 600;
        font-size: 18px;
    }

    p {
        color: #7a869a;
        font-size: 14px;
        margin: 11px;
        text-align: center;
    }

    button{
        color: #f1aa41;
        margin-top: 10px;
    }
}