<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" aria-hidden="true" slot="start" (click)="routing.goBack()"></ion-icon>
    <ion-title>Track Order</ion-title>
    <ion-button slot="end" class="view-button" (click)="showValue=!showValue">
      {{ showValue?'View Map':'Details'}}
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="show">
  </div>
  <div class="showmap" *ngIf="showValue">
    <ion-card slot="end">
      <ion-card-header class="rounded-sm flex">
        <div class="flex">
          <div class="w-2/12 flex justify-center items-center mx-3">
            <ion-icon name="cart" class="text-2xl"></ion-icon>
          </div>
          <div class="w-full">
            <p class="text-base font-bold">Delivery Your Order</p>
            <p>Coming within 30 minutes</p>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content class="flex">
        <div class="w-9/12">
          <p>Prime Beef - Pizza Beautifu…</p>
          <p>
            <span>$ 20.99</span> . <span>2 items</span> . <span>Credit Card</span>
          </p>
        </div>
        <div class="w-3/12">
          <ion-button>Detail</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card slot="end">
      <ion-card-header class="rounded-sm flex flex-col">
        <div class="flex">
          <div class="w-2/12 flex justify-center items-center mx-3">
            <ion-icon name="location" class="text-base"></ion-icon>
          </div>
          <div class="w-full">
            <p class="text-sm font-bold">Burger King - 1453 Ave Los Angeles</p>
            <p>
              <span>Restaurant</span> . <span>13:00 PM</span> . <span>Credit Card</span>
            </p>
          </div>
        </div>
          <div class="flex mt-2">
            <div class="w-2/12 flex justify-center items-center mx-3">
              <ion-icon name="location" class="text-base"></ion-icon>
            </div>
            <div class="w-full">
              <p class="text-sm font-bold">You - 49th St Los Angeles, California</p>
              <p>
                <span>Restaurant</span> . <span>13:00 PM</span> . <span>Credit Card</span>
              </p>
            </div>
        </div>
      </ion-card-header>
      <ion-card-content class="flex">
        <div class="w-3/12">
            <img src="../../assets/icon/driverimg.svg" alt="">
          </div>
        <div class="w-9/12">
          <p class="text-base font-semibold">Philippe Troussier</p>
          <p>
            <span>Delivery</span> . <span>0145425765</span>
          </p>
        </div>
        <div class="w-3/12">
          <ion-button style="min-height: 40px;">
            <ion-icon class="text-sm" name="call"></ion-icon>
          </ion-button>          
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>