<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" aria-hidden="true" slot="start"></ion-icon>
    <ion-title>Track Order</ion-title>
    <ion-button slot="end" class="view-button" (click)="showValue=!showValue">
      {{ showValue ? 'View Map' : 'Details' }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div  class="show" *ngIf="orderDetails && !isLoading">
    <div class="map" #map></div>
    <div class="showmap" *ngIf="showValue">
      <ion-card slot="end">
        <ion-card-header class="rounded-sm flex">
          <div class="flex">
            <div class="w-2/12 flex justify-center items-center mx-3">
              <ion-icon name="cart" class="text-2xl"></ion-icon>
            </div>
            <div class="w-full">
              <p class="text-base font-bold">Delivery Your Order</p>
              <p>Coming within 30 minutes</p>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content class="flex" *ngIf="!expaneded">
          <div class="w-9/12">
            <p style="font-size: 17px !important; font-weight: bold !important;">{{ orderDetails.items[0].name }}</p>
            <p style="font-size: 17px !important">
              <span class="text-sm text-bold">$ {{ orderDetails.totalValue }}</span> . <span>{{ orderDetails.items.length }} items</span> . <span>{{ orderDetails.paymentType }}</span>
            </p>
          </div>
          <div class="w-3/12">
            <ion-button (click)="expaneded=!expaneded">Detail</ion-button>
          </div>
        </ion-card-content>
        <ion-card-content *ngIf="expaneded">
          <ion-item style="--padding-start: 0px;" *ngFor="let item of orderDetails.items">
            <div class="flex flex-col w-full">
              <div class="flex w-full py-3">
                <div class="w-3/12">
                  <ion-img style="height: 2.5rem;" [src]="item.image" class="w-full h-full"></ion-img>
                </div>
                <div class="w-6/12 px-3">
                  <p class="text-base">{{ item.name }}</p>
                </div>
                <div class="w-3/12">
                  <span>$ {{ item.amount }}</span>
                </div>
              </div>
              <ng-container *ngFor="let subItem of item.subItems">
                <div class="flex w-full">
                  <div class="w-3/12">
                    <ion-img style="height: 2.5rem;" [src]="subItem.image" class="w-full h-full"></ion-img>
                  </div>
                  <div class="w-6/12 px-3">
                    <p>{{ subItem.name }}</p>
                  </div>
                  <div class="w-3/12">
                    <span>$ {{ subItem.amount }}</span>
                  </div>
                </div>
              </ng-container>
            </div>
          </ion-item>
          <div class="w-full">
            <ion-button (click)="expaneded=!expaneded">Close Detail</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card slot="end">
        <ion-card-header class="rounded-sm flex flex-col">
          <div class="flex">
            <div class="w-2/12 flex justify-center items-center mx-3">
              <ion-icon name="location" class="text-base"></ion-icon>
            </div>
            <div class="w-full">
              <p class="text-sm font-bold">Restaurant - 1453 Ave Los Angeles</p>
            </div>
          </div>
          <div class="flex mt-3">
            <div class="w-2/12 flex justify-center items-center mx-3">
              <ion-icon name="location" class="text-base"></ion-icon>
            </div>
            <div class="w-full">
              <p class="text-sm font-bold">You - {{ location }}</p>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content class="flex">
          <div class="w-3/12">
            <div class="h-20 w-20 rounded-full bg-gray-300 flex items-center justify-center">
              <span class="text-lg font-bold text-gray-600">{{ 'A' }}</span>
            </div>
          </div>
          <div class="w-9/12">
            <p class="text-base font-semibold">Philippe Troussier</p>
            <p>
              <span>Delivery</span> . <span>0145425765</span>
            </p>
          </div>
          <div class="w-3/12">
            <ion-button style="min-height: 40px;" (click)="callPhoneNumber('8530842830')">
              <ion-icon class="text-sm" name="call"></ion-icon>
            </ion-button>            
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <loading *ngIf="isLoading"></loading>
</ion-content>