<ion-router-outlet></ion-router-outlet>
<ion-tabs class="tab-bottom">
  <ion-tab-bar class="tab-bottom" style="border: 2px solid #783387;">
    <ion-tab-button class="tab-back" tab="home" [class.active]="selectedTab === 1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-back" tab="foods" [class.active]="selectedTab === 2">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Food</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-back" tab="table" [class.active]="selectedTab === 3">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Table Booking</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-back" tab="add-cart" [class.active]="selectedTab === 4">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-back" tab="account" [class.active]="selectedTab === 5">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
