<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-icon name="heart" aria-hidden="true" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <div class="flex w-full flex-col py-5">
              <span class="text-sm text-slate-300 pt-4 font-normal">Password</span>
              <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="currentPassword" class="borderInput w-full">
                <ion-icon slot="end" class="text-base" name="eye" aria-hidden="true" (click)="togglePasswordVisibility('current')"></ion-icon>
              </ion-input>
              <div *ngIf="passwordForm.controls['currentPassword'].invalid && passwordForm.controls['currentPassword'].touched">
                <ion-text color="danger" *ngIf="passwordForm.controls['currentPassword'].errors?.['required']">Current password is required.</ion-text>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class="flex w-full flex-col py-5">
              <span class="text-sm text-slate-300 pt-4 font-normal">New Password</span>
              <ion-input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" class="borderInput w-full">
                <ion-icon slot="end" class="text-base" name="eye" aria-hidden="true" (click)="togglePasswordVisibility('new')"></ion-icon>
              </ion-input>
              <div *ngIf="passwordForm.controls['newPassword'].invalid && passwordForm.controls['newPassword'].touched">
                <ion-text color="danger" *ngIf="passwordForm.controls['newPassword'].errors?.['required']">New password is required.</ion-text>
                <ion-text color="danger" *ngIf="passwordForm.controls['newPassword'].errors?.['minlength']">New password must be at least 6 characters long.</ion-text>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class="flex w-full flex-col py-5">
              <span class="text-sm text-slate-300 pt-4 font-normal">Confirm Password</span>
              <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="borderInput w-full">
                <ion-icon slot="end" class="text-base" name="eye" aria-hidden="true" (click)="togglePasswordVisibility('confirm')"></ion-icon>
              </ion-input>
              <div *ngIf="passwordForm.controls['confirmPassword'].invalid && passwordForm.controls['confirmPassword'].touched">
                <ion-text color="danger" *ngIf="passwordForm.controls['confirmPassword'].errors?.['required']">Confirm password is required.</ion-text>
                <ion-text color="danger" *ngIf="passwordForm.controls['confirmPassword'].errors?.['match']">Passwords must match.</ion-text>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" shape="round" type="submit">Change Password</ion-button>
  </form>
</ion-content>
