@if(!loader){
<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div class="flex justify-between">
        <h2 class="text-2xl font-semibold leading-tight">Combos</h2>
        <div class="flex gap-3">
          <p-button label="Add Combo" (click)="newValue.visible =!newValue.visible" />
        </div>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div
          class="inline-block min-w-full shadow-md rounded-lg overflow-hidden"
        >
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                @for (item of headers; track item) {
                  <th
                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
                  >
                   {{item}}
                  </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (item of itemList; track item) {
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">{{item.itemName}}</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{item.description}}</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <ng-container></ng-container>
                  @for (item of item.itemList; track $index) {
                    <p class="text-gray-900 whitespace-no-wrap">{{item.itemName}}</p>
                  }
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">$ {{item.price}}</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{item.discount}}%</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <img [src]="item.logoUrl" width="80" alt="">
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <img [src]="item.bannerImage" width="80" alt="">
                </td>
                <td
                  class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-right"
                >
                <p-speedDial [model]="getItems(item)" radius="120" direction="up-right" type="quarter-circle"
                    buttonClassName="p-button-success" />
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-new-combo-maker #newValue (onNameChange)="getValue()"></app-new-combo-maker>
} @else{
  <loading></loading>
}