<div class="main-container">

  <div class="container">
    <div style="border-bottom:4px solid #f4f5f7;
           margin: 10px auto;
           width: 15%;">

    </div>
    <div class="top-driver">
      <div class="driver">
        <p>Rate Driver</p>
      </div>
    </div>
  </div>

  <div style="border-bottom: 1px solid #f4f5f7;"></div>

  <div class="container-1">
    <div class="img-container">
      <img src="../../assets/icon.svg" alt="">
      <h3>{{message.title || 'Phillippe Troussier'}}</h3>
      <div class="star-conatiner">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
      </div>
      <div class="execellent">
        <span>Execellent</span>
      </div>
    </div>
  </div>

  <div style="border-bottom: 1px solid #f4f5f7;"></div>

  <div class="container-1">
    <div style="margin: 5px auto;">
      <button class="white-button">Good Service</button>
      <button class="yellow-button">On Time</button>
      <button class="yellow-button">clean</button>
    </div>
    <div style="margin: 5px auto;">
      <button class="yellow-button">Carefull</button>
      <button class="white-button">Work hard</button>
      <button class="white-button">polite</button>
    </div>
  </div>

  <div style="border-bottom: 1px solid #f4f5f7;"></div>

  <div class="container-1">
    <p class="para">Do you have something to share with cook? Leave a review now!
      your rating and comments will be displayed
      anonymously
    </p>
  </div>

  <div class="container-1">
    <div class="last-button">
      <button>Next</button>
    </div>
  </div>
</div>