ion-header {
    ion-toolbar {
        padding-top: 10px;
        height: 60px;
        --background: white;
        font-size: 17px;
        font-weight: 500;
        --border-color: blue;

        ion-icon {
            padding: 10px;
        }
    }
}
.time{
    --height:246px;
}
ion-icon {
    border: 0px;
    border-radius: 10px;
}
.minus{
    background: gray;
}
.plus {
    background: orange;
}
 ion-datetime {
    height: auto;
    width: auto;  
    max-width: 350px;
  }

  ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
  }
  
  ion-modal ion-datetime {
    height: 382px;
  }
  