<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" aria-hidden="true" slot="start"></ion-icon>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="mains">
    <ion-card-content>
      <ion-segment [(ngModel)]="segment" value="delivery">
        <ion-segment-button value="delivery">
          <ion-label>Active</ion-label>
        </ion-segment-button>
        <ion-segment-button value="review">
          <ion-label>History</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="segment">
        <ng-container *ngSwitchCase="'delivery'">
          <ion-list>
            <ion-item>
              <div class="flex justify-between relative my-10">
                <div class="flex flex-col">
                  <p>Order No.</p>
                  <p>#11250</p>
                </div>
              </div>
            </ion-item>
          </ion-list>
          </ng-container>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>