ion-header {
    ion-toolbar {
        padding-top: 10px;
        height: 60px;
        --background: white;
        font-size: 17px;
        font-weight: 500;
        --border-color: blue;
  
        ion-icon {
            padding: 10px;
        }
    }
}
.confirm_order{
    height: 45px;
    width: 147px;
    font-size: 12px;
    text-transform: none;
    --background: #251029;
    font-weight: 400;
    --border-radius: 15px !important;
    color: #fff;
}