<div class="main-container">

  <div class="container">
    <div style="border-bottom:4px solid #f4f5f7;
           margin: 10px auto;
           width: 15%;">
    </div>
    <div class="top-driver">
      <div class="driver">
        <p>Add your payment methods</p>
      </div>
    </div>
  </div>

  <div style="border-bottom: 1px solid #f4f5f7;"></div>


  <div class="container-1">
    <input type="text" class="input-text" placeholder="3999-1234-5678-0000">
  </div>

  <div class="container-2">
    <div style="display: flex;
         margin: 20px 0px;">
      <div>
        <input type="text" width="100%" class="input2" placeholder="MM/YY">
      </div>
      <div>
        <input type="text" width="100%" class="input2" placeholder="CVC">
      </div>
    </div>
  </div>

  <div class="container-1">
      <button class="last-button">
        Add Card
      </button>
  
      <button class="last-button2">
        Scan Card
      </button>
  </div>

</div>