@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.main-container {
    width: 100%;
    margin: 100% 0px 0px 0px;
}

.container {
    background-color: #ffffff;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 20px;
    font-family: "DM Sans", sans-serif;

    .top-driver {
        margin: 10px auto;

        .driver {
            p {
                font-family: "DM Sans", sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #2b3d5c;
            }
        }
    }
}

.container-1 {
    background-color: #ffffff;
    width: 100%;
    margin: 0% 0% 0% 0%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 9px 20px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .input-text {
        width: 100%;
        padding: 20px 10px;
        border-radius: 15px;
        border: 1px solid #a1a1a1;
        margin-top: 10px;
    }

    .last-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2b252;
        padding: 14px;
        border-radius: 15px;
        color: #fff;
        margin-top: 10px;
    }
    .last-button2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 14px;
        border-radius: 15px;
        color: #2b3d5c;
        margin-top: 10px;
    }
}

.container-2{
    background-color: #ffffff;
    width: 100%;
    margin: 0% 0% 0% 0%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 20px;
    font-family: "DM Sans", sans-serif;
    gap:10px;
    
    .input2 {
        width: 95%;
        padding: 15px 10px;
        border-radius: 15px;
        border: 1px solid #a1a1a1;
    }
    
}


::ng-deep ion-modal>.ion-page {
    height: 0px !important;
}