<ion-header>
  <ion-toolbar>
    <ion-title>Account Information</ion-title>
    <ion-icon name="heart" aria-hidden="true" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <div class="flex w-full flex-col py-5">
              <span class="text-sm text-slate-300 pt-4 font-normal">
                Full Name
              </span>
              <ion-input formControlName="displayName" class="borderInput w-full"></ion-input>
              <div *ngIf="accountForm.controls['displayName']?.invalid && accountForm.controls['displayName']?.touched">
                <span *ngIf="accountForm.controls['displayName']?.errors?.['required']">Full Name is required.</span>
                <span *ngIf="accountForm.controls['displayName']?.errors?.['minlength']">Full Name must be at least 3 characters long.</span>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class="flex w-full flex-col py-5">
              <span class="text-sm text-slate-300 pt-4 font-normal">
                Email Address
              </span>
              <ion-input formControlName="email" class="borderInput w-full"></ion-input>
              <div *ngIf="accountForm.controls['email']?.invalid && accountForm.controls['email']?.touched">
                <span *ngIf="accountForm.controls['email']?.errors?.['required']">Email is required.</span>
                <span *ngIf="accountForm.controls['email']?.errors?.['email']">Invalid email format.</span>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class="flex w-full flex-col py-5">
              <span class="text-sm text-slate-300 pt-4 font-normal">
                Phone Number
              </span>
              <ion-input formControlName="phoneNumber" class="borderInput w-full"></ion-input>
              <div *ngIf="accountForm.controls['phoneNumber']?.invalid && accountForm.controls['phoneNumber']?.touched">
                <span *ngIf="accountForm.controls['phoneNumber']?.errors?.['required']">Phone Number is required.</span>
                <span *ngIf="accountForm.controls['phoneNumber']?.errors?.['pattern']">Phone Number must be 10 digits.</span>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" shape="round" type="submit">Change Information</ion-button>
  </form>
</ion-content>
