<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" aria-hidden="true" slot="start"></ion-icon>
    <ion-title>Personal Document</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="documentForm" (ngSubmit)="submit()">
    <ion-card *ngFor="let document of documents">
      <ion-card-content class="document-card">
        <label for="{{ document.id }}" class="document-label" *ngIf="!document.value">
          <ion-icon name="cloud-upload" size="large"></ion-icon>
          <div>{{ document.label }}</div>
          <input type="file" id="{{ document.id }}" accept="image/*" hidden formControlName="{{ document.name }}" (change)="onFileSelected($event, document.name)">
          <span *ngIf="!documentForm.get(document.name)?.value">{{ document.placeholder }}</span>
        </label>
        <ion-img *ngIf="documentForm.get(document.name)?.value" id="preview-{{ document.name }}" alt="Preview" [src]="documentForm.get(document.name)?.value">
        </ion-img>
        <ion-button expand="block" class="clear-button" (click)="resetFileInput(document.name)" *ngIf="documentForm.get(document.name)?.value">Clear</ion-button>
      </ion-card-content>
    </ion-card>
    <div class="bottom-section">
      <ion-button type="submit">Upload</ion-button>
      <span>
        Need help? <a href="#">Contact Support</a>
      </span>
    </div>
  </form>
  <loading *ngIf="isLoader"></loading>
</ion-content>
