<ion-header>
  <ion-toolbar>
    <ion-title>Table Booking</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="h-36">
        <img src="../../assets/icon/burger.svg" class="w-full h-full" alt="" srcset="">
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="mt-8 general">
    <ion-card-content>
      <div class="flex flex-wrap">
        <ng-container *ngFor="let table of tables">
          <div class="w-5/12 m-3 flex-col flex" (click)="getTable(table)">
            <div #swiperContainer class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let img of table.bannerImages">
                  <img [src]="img.url" alt="" class="w-full h-full">
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-scrollbar"></div>
            </div>
            <span class="pt-3 text-sm font-bold">
              {{ table.itemName }}
            </span>
            <div class="flex justify-between">
              <span class="text-xs">
                $ {{ table.price }}
              </span>
              <span class="text-xs">
                {{ table?.availability }}
              </span>
            </div>
          </div>    
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
