<ion-header>
  <ion-toolbar>
    <ion-title>Table Booking</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>  
    <ion-card-content>
        <div class="h-36">
            <img src="../../assets/icon/burger.svg" class="w-full h-full" alt="" srcset="">
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="mt-8 general">
    <ion-card-content>
      <div class="flex pt-4 gap-4">
        <div class="w-6/12 flex-col flex" [routerLink]="['/table-detials']">
          <img src="../../assets/icon/table_img.jpg" alt="">
          <span class=" pt-3 text-sm font-bold">
            Table Name 
          </span>
          <div class="flex justify-between">
            <span class="text-xs">
              $ 5.99
            </span>
            <span class="text-xs">
              Available
            </span>
          </div>
        </div>
        <div class="w-6/12 flex-col flex">
          <img src="../../assets/icon/table_img.jpg" alt="">
          <span class=" pt-3 text-sm font-bold">
            Table Name 
          </span>
          <div class="flex justify-between">
            <span class="text-xs">
              $ 5.99
            </span>
            <span class="text-xs">
              Available
            </span>
          </div>
        </div>
      </div>
      <div class="flex pt-4 gap-4">
        <div class="w-6/12 flex-col flex">
          <img src="../../assets/icon/table_img.jpg" alt="">
          <span class=" pt-3 text-sm font-bold">
            Table Name 
          </span>
          <div class="flex justify-between">
            <span class="text-xs">
              $ 5.99
            </span>
            <span class="text-xs">
              Available
            </span>
          </div>
        </div>
        <div class="w-6/12 flex-col flex">
          <img src="../../assets/icon/table_img.jpg" alt="">
          <span class=" pt-3 text-sm font-bold">
            Table Name 
          </span>
          <div class="flex justify-between">
            <span class="text-xs">
              $ 5.99
            </span>
            <span class="text-xs">
              Available
            </span>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>