<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="profile">
    <ion-card-header *ngIf="displayName">
      <ion-card-title class="py-5">
        <div class="flex justify-center w-100 items-center flex-col">
          <div class="flex items-center">
            <div class="h-20 w-20 rounded-full bg-gray-300 flex items-center justify-center">
              <span class="text-lg font-bold text-gray-600">{{ displayName.charAt(0) }}</span>
            </div>
          </div>
          <span class="text-sm pt-4 font-normal">{{ displayName }}</span>
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="mt-8 general">
    <ion-card-header class="rounded-sm">
      <ion-card-title>
        General
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item class="pt-9" *ngFor="let item of generalList">
          <div class="flex w-full pb-3">
            <div class="w-8 flex items-center">
              <ion-icon [name]="item.icon" slot="end" class="text-base"></ion-icon>
            </div>
            <div class="w-full text-center">
              <div class="flex flex-col">
                <span class="text-sm nav-header">{{ item.header }}</span>
                <span class="text-xs nav-sub-header">{{ item.subHeader }}</span>
              </div>
            </div>
          </div>
        </ion-item>      
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="mt-8 general">
    <ion-card-header class="rounded-sm">
      <ion-card-title>
        More
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item class="pt-9" *ngFor="let item of moreList" >
          <div class="flex w-full">
            <div class="w-8 text-center">
              <ion-icon [name]="item.icon" slot="end" class="text-base"></ion-icon>
            </div>
            <div class="w-full text-center">
              <div class="flex flex-col">
                <span class="text-sm nav-header">{{ item.header }}</span>
                <span class="text-xs nav-sub-header">{{ item.subHeader }}</span>
              </div>
            </div>
          </div>
        </ion-item>      
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="pt-5">
    <ion-card-content>
      <div class="flex w-full" >
        <div class="w-8 text-center">
          <ion-icon name="log-out" slot="end" class="text-base"></ion-icon>
        </div>
        <div class="w-full text-center">
          <div class="flex flex-col">
            <span class="text-sm nav-header">Log Out</span>
          </div>
        </div>
        <div class="w-4 text-center">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>