<div class="background-pic">
<ion-content>
      <ion-card>
        <ion-card-header>
          <div class="flex justify-center"> 
            <img src="../../assets/icon/icon.jpg" style="width: 40%;" />
          </div>
          <ion-card-title>
            Create New Account 
          </ion-card-title>
          <ion-card-subtitle>
            Already resgistered ? 
            <strong (click)="routerlink.navigateUrl('/login',undefined)">Login</strong>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-icon name="person"></ion-icon>
              <ion-input placeholder="Full Names" formControlName="name"></ion-input>
            </ion-item>
            <small *ngIf="isSubmit && registrationForm.controls['name'].touched && registrationForm.controls['name'].errors?.['required']" class="text-rose-500">
              Name is required.
            </small>
            <ion-item>
              <ion-icon name="mail"></ion-icon>
              <ion-input placeholder="Email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf=" isSubmit && registrationForm.controls['email'].touched">
              <small *ngIf="registrationForm.controls['email'].errors?.['required']" class="text-rose-500">
                Email is required.
              </small>
              <small *ngIf="registrationForm.controls['email'].errors?.['email']" class="text-rose-500">
                Enter a valid email.
              </small>
            </div>
            <ion-item>
              <ion-icon name="lock-closed"></ion-icon>
              <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
            </ion-item>
            <div *ngIf="isSubmit && registrationForm.controls['password'].touched">
              <div *ngIf="registrationForm.controls['password'].errors?.['required']" class="text-rose-500">
                Password is required.
              </div>
              <div *ngIf="registrationForm.controls['password'].errors?.['minlength']" class="text-rose-500">
                Password must be at least 6 characters long.
              </div>
            </div>
            <ion-item>
              <ion-icon name="lock-closed"></ion-icon>
              <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <div *ngIf="isSubmit && registrationForm.controls['confirmPassword'].touched">
              <small *ngIf="!registrationForm.controls['confirmPassword'].value && registrationForm.controls['confirmPassword'].errors?.['required']" class="text-rose-500">
                Confirm Password is required.
              </small>
              <small *ngIf="registrationForm.controls['confirmPassword'].value && registrationForm.errors?.['mismatch']" class="text-rose-500">
                Passwords must match.
              </small>
            </div>
            <div class="bottom-section">
              <ion-button type="submit">Register</ion-button>
            </div>
          </form>
        </ion-card-content>        
      </ion-card>
      <loading *ngIf="isLoading"></loading>
    </ion-content>
</div>