<main class="p-6 sm:p-10 space-y-6">
    <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
            <div
                class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
                <!--  -->
            </div>
            <div>
                <span class="block text-2xl font-bold">62</span>
                <span class="block text-gray-500">Students</span>
            </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
            <div
                class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
                <!--  -->
            </div>
            <div>
                <span class="block text-2xl font-bold">6.8</span>
                <span class="block text-gray-500">Average mark</span>
            </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
            <div
                class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
                <!--  -->
            </div>
            <div>
                <span class="inline-block text-2xl font-bold">9</span>
                <span class="inline-block text-xl text-gray-500 font-semibold">(14%)</span>
                <span class="block text-gray-500">Underperforming students</span>
            </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
            <div
                class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
                <!--  -->
            </div>
            <div>
                <span class="block text-2xl font-bold">83%</span>
                <span class="block text-gray-500">Finished homeworks</span>
            </div>
        </div>
    </section>
    <section class="grid md:grid-cols-2 xl:grid-cols-4 xl:grid-rows-3 xl:grid-flow-col gap-6">
        <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
            <div class="px-6 py-5 font-semibold border-b border-gray-100">The number of applied and left students per
                month</div>
            <div class="p-4 flex-grow">
            </div>
        </div>
        <div class="row-span-3 bg-white shadow rounded-lg">
            <div class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
                <span>Students by average mark</span>
                <button type="button"
                    class="inline-flex justify-center rounded-md px-1 -mr-1 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-600"
                    id="options-menu" aria-haspopup="true" aria-expanded="true">
                    <!--  -->
                </button>
            </div>
            <div class="overflow-y-auto" style="max-height: 24rem;">
                <ul class="p-6 space-y-6">
                    <li *ngFor="let user of users" class="flex items-center">
                        <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                            <img [src]="user.image" [alt]="user.name + ' profile picture'">
                        </div>
                        <span class="text-gray-600">{{ user.name }}</span>
                        <span class="ml-auto font-semibold">{{ user.score }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
            <div
                class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-yellow-600 bg-yellow-100 rounded-full mr-6">
                <!--  -->
            </div>
            <div>
                <span class="block text-2xl font-bold">25</span>
                <span class="block text-gray-500">Lections left</span>
            </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
            <div
                class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-teal-600 bg-teal-100 rounded-full mr-6">
                <!--  -->
            </div>
            <div>
                <span class="block text-2xl font-bold">139</span>
                <span class="block text-gray-500">Hours spent on lections</span>
            </div>
        </div>
    </section>
</main>