@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.tab-conatiner {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
    align-items: center;

    button {
        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #2b3d5c;
    }
}

.container {
    margin: 20px 10px 20px 10px;

    .input-text {
        width: 90%;
        padding: 20px 10px;
        margin: 20px 10px 20px 10px;
        border-radius: 15px;
        border: 1px solid #a1a1a1;
        margin-top: 10px;
    }
}

.main-card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px 0px;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #2b3d5c;

    .main-card2 {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: start;
        gap: 10px;
    }
}

.main-card3 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    padding: 15px 53px 0px 23px;

    .card-text {
        gap: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        font-family: "DM Sans", sans-serif;
    }

    p {
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
        font-family: "DM Sans", sans-serif;
    }

    span{
        color: #f2b252;
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-top: 10px;
        font-family: "DM Sans", sans-serif;
    }
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;

    .last-button {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2b252;
        padding: 14px;
        border-radius: 15px;
        color: #fff;
        margin-top: 10px;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
    }
    .last-button2 {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 14px;
        border-radius: 15px;
        color: #2b3d5c;
        margin-top: 10px;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
    }
}