@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.alert-success {
    --background: var(--ion-color-success);
    --color: white;
  }
  
  .alert-error {
    --background: var(--ion-color-danger);
    --color: white;
  }
  
  .alert-warning {
    --background: var(--ion-color-warning);
    --color: white;
  }
  
  .alert-button-ok {
    --color: white;
    --background: transparent;
  }
  .error-message {
    color: var(--ion-color-danger);
    margin: 5px 0 0 0px;
    font-size: 14px;
  }
  