<div class="main-container">

  <div class="container">
    <div style="border-bottom:4px solid #f4f5f7;
           margin: 10px auto;
           width: 15%;">

    </div>
    <div class="top-driver">
      <div class="driver">
        <p>Rate Driver</p>
      </div>
    </div>
  </div>

  <div style="border-bottom: 1px solid #f4f5f7;"></div>

  <div class="container-1">
    <div class="img-container">
      <img src="../../assets/starbucks.svg" alt="">
      <h3>
        <div class="starbuks-conatiner">
          {{message.title || 'Starbucks'}}
          <img src="../../assets/heart.svg" alt="" style="margin: 1px;">
        </div>
      </h3>
      <div class="star-conatiner">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
        <img src="../../assets/star.svg" alt="" class="star">
      </div>
      <div class="execellent">
        <span>Execellent</span>
      </div>
    </div>
  </div>

  <div style="border-bottom: 1px solid #f4f5f7;"></div>

  <div class="container-1">
    <div style="margin: 5px auto;">
      <button class="white-button">clean</button>
      <button class="yellow-button">Good Packages</button>
      <button class="yellow-button">Pair price</button>
    </div>
    <div style="margin: 5px auto;">
      <button class="white-button">Good food</button>
    </div>
  </div>

  <div style="border-bottom: 1px solid #f4f5f7;"></div>

  <div class="container-1">
    <p class="para">Do you have something to share with cook? Leave a review now!
      your rating and comments will be displayed
      anonymously.
    </p>
  </div>

  <div class="container-2">
    <div class="previous">
       <button>previous</button>
    </div>
    <div class="submit" >
        <button>Submit</button>
    </div>
  </div>

</div>