<ion-content [fullscreen]="true" class="main-container">
  <div class="img-container">
    <img src="../../assets/imgaes/logo.png" alt="">
  </div>

  <div class="main">
    <h1>Forget <br> Password</h1>
    <p>New Password</p>
  </div>

  <form>
    <div class="second-container">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-input type="text" required></ion-input>
    </div>
    <div class="flex ion-justify-content-center ion-align-items-center">
      <ion-button>SEND</ion-button>
    </div>
  </form>

  <div class="container">
    <div class="circle"></div>
    <div class="circle2"></div>
  </div>

</ion-content>