<ion-content>
    <div class="upperbox">
        <h3>Meal Type</h3>
        <ion-list>
            <ion-radio-group [value]="filters.meal_type">
                <ion-item>
                    <ion-label>Breakfast</ion-label>
                    <ion-radio value="breakfast"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Lunch</ion-label>
                    <ion-radio value="lunch"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Evening Snacks</ion-label>
                    <ion-radio value="snacks"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Dinner</ion-label>
                    <ion-radio value="dinner"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>others</ion-label>
                    <ion-radio value="others"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </div>

    <!-- next -->

    <div class="upperbox">
        <h3>Cuisine</h3>
        <ion-radio-group [value]="filters.cuisine">
            <ion-row>
                <ion-col size="5">
                    <ion-item>
                        <ion-label>American</ion-label>
                        <ion-radio mode="md" item-left value="american"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col size="5">
                    <ion-item>
                        <ion-label>Asian</ion-label>
                        <ion-radio mode="md" item-left value="asian"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col size="5">
                    <ion-item>
                        <ion-label>Indian</ion-label>
                        <ion-radio mode="md" item-left value="indian"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col size="5">
                    <ion-item>
                        <ion-label>French</ion-label>
                        <ion-radio mode="md" item-left value="french"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col size="5">
                    <ion-item>
                        <ion-label>Greek</ion-label>
                        <ion-radio mode="md" item-left value="greek"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col size="5">
                    <ion-item>
                        <ion-label>Australian</ion-label>
                        <ion-radio mode="md" item-left value="australian"></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-radio-group>
    </div>

    <!-- next -->

    <div class="upperbox">
        <h3>Sort By</h3>
        <ion-item>
            <ion-label>Most Popular</ion-label>
            <ion-toggle mode="ios" [value]="filters.popular"></ion-toggle>
            <hr style="border-bottom: 1px solid purple;">
        </ion-item>

        <ion-list style="margin-top: 20px;">
            <ion-radio-group [value]="filters.priceByOrder">
                <ion-item>
                    <ion-label>Low to High</ion-label>
                    <ion-radio mode="ios" value="lowToHigh"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>High to Low</ion-label>
                    <ion-radio mode="ios" value="HightoLow"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </div>

    <!-- next -->

    <div class="upperbox">
        <h3>Price</h3>
        <ion-item>
            <ion-range min="1" [value]="filters.distance" dualKnobs="true" max="20" mode="ios" color="primary"
                [pin]="true">
            </ion-range>
            <ion-label slot="end">1 To 5</ion-label>
            <hr style="border-bottom: 1px solid purple;">
        </ion-item>
    </div>

    <div class="upperbox" style="margin: 30px 20px;">
        <ion-button expand="block">Apply Filter</ion-button>
    </div>

</ion-content>