<ion-content [fullscreen]="true" class="main-container">
  <div class="img-container">
    <img src="../../assets/imgaes/logo.png" alt="">
  </div>

  <div class="main">
    <h1>Create New <br> Account</h1>
    <p>Aleardy registered? <a>Login</a></p>
  </div>

  <form>
    <div class="second-container">
        <ion-icon name="person-sharp"></ion-icon>
        <ion-input></ion-input>
    </div>
    <div class="second-container">
        <ion-icon name="mail-unread-sharp"></ion-icon>
        <ion-input></ion-input>
    </div>
    <div class="second-container">
        <ion-icon name="lock-closed-sharp"></ion-icon>
        <ion-input></ion-input>
    </div>
    <div class="flex ion-justify-content-center ion-align-items-center">
      <ion-button>Sign Up</ion-button>
    </div>
  </form>

  <div class="container">
    <div class="circle"></div>
    <div class="circle2"></div>
  </div>
</ion-content>